{% extends "app1/index.html" %}
{% block content %}
	<table class="table">
		{% for tablero in objectlist %}
		 	<tr>
				<td>{{tablero.nombre_tablero}}</td>
				 <!--lo quiero imprimir por pantalla-->
				<td>
					
					<a href="{% url 'modificarTablero' tablero.id %}">Modificar</a><!--colocamos nuestro name de nuestra url-->
					
					
				</td>
				<td>
					<a href="{% url 'eliminarTablero' tablero.id %}">Eliminar</a>
				</td>
				<td>
					<a href="{% url 'consultarLista' tablero.id %}">Ver listas</a>
				</td>
			</tr>		 	
		 {% endfor %}
	</table>
{% endblock %}