{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    <title>Sprint 7-- OpenTrello</title>
</head>
<title>
    {% block title %}

    {% endblock %}

</title>

<body>
    <header>
        <div class="cabecera" id="contenedor">
            <div class="contenedortareas">
                <h1 class="titulo">Open Trello</h1>
            </div>
        </div>
    </header>
    {% block content %}
    <!--aca vendra el bloque cambiante-->
    {% endblock %}


    <footer class="pie_pagina">
        <div id="piepagina">
            <div class="contenedor_foot">
                <h3 class="titulof">Copyright</h3>
            </div>
        </div>
    </footer>
</body>

</html>