*{
    margin: 0;
    padding: 0;
}
html{
    height: 100%;
}
body{
    height: 100%;
    width: 100%;
    background-image: url("https://images.unsplash.com/photo-1577234162223-98e9caa94705?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=752&q=80");
    background-size: 100%;
    background-repeat: no-repeat;
    color: white;
    font-family: "palatino linotype","Book Antiqua", Palatino, serif;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
 }
#menu{
    background-color: rgba(0,0,0,0.25);
    box-shadow:  1px 1px 5px black;
    border-radius: 10px;
    position: absolute;
    width: 100%;
    height: 100px;
 }
 .logo {
    width: 50px;
    height: 50px;
}
.texto {
    font-size: 14px;    
}
.nav-item {
   color: white;
}
#crearTablero{
    background-color: rgba(0,0,0,0.25);
    box-shadow:  1px 1px 5px black;
    padding: 50px;
    border-radius: 10px;
    position: absolute;
    top: 150px;
    left: 80px;
}
#consultaTablero{
    background-color: rgba(0,0,0,0.25);
    box-shadow:  1px 1px 5px black;
    padding: 50px;
    border-radius: 10px;
    position: absolute;
    top: 120px;
    left: 250px;
  
}
label{
    color: white;
}
#piepagina{
    background-color: rgba(0,0,0,0.25);
    box-shadow:  1px 1px 5px black;
    overflow: hidden;
    border-radius: 10px;
    width: 100%;
    height: 100px;
    color: white;
}
.op{
    color: white;
}
h1 p{
    color: white;
    text-align: center;
}
h2{
    text-align: center;
}



